// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.user-image img{
	max-width:40px;
	max-height:40px;
}

.user-name {
	margin: 4px 10px;
	font-size: 20px;
	color: #ffffff;
}